<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
	<form th:action="@{/buscarAlumno}" th:object="${alumno}" method="POST">
		<h1 th:text="${titulo}"></h1>
		<div>
			<label for="idAlumno">ID Alumno</label>
			<div>
				<input type="number" name="idAlumno" id="idAlumno" th:value="${alumno.idAlumno}">
			</div>
			<div th:if="${error != null && error.('idAlumno')}" th:text="${error.idAlumno}"></div>
		</div>
		<div>
			<div>
				<input type="submit" value="Buscar">
			</div>
		</div>
	</form>
</body>
</html>